body{
    background-color: #181818;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #f8f9fa;
}
/* el encabezado */
header{
  background-color: #282c34;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}
main{
  background-color: #40444b;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color:#ff4757;
}
.carrito span {
    background-color: #ff4757;
    color: white;
}
#cartCount{
    background-color: #ff0000;
    color: white;
}
.theme-toggle, .menu-toggle {
    color: white;
} 
.catalogo1{
  background-color: #282c34;
}
h4{
  color: white;
}
#cartCount{
    background-color: #ff0000;
    color: white;
}

/*Categorias */
.categorias {
    background-color: #2e2e2e;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    
  }
  .categorias:hover{
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
.categorias h2{
    color: #fff;
  }
  .categorias ul li{
    color: #fff;
  }
.categorias ul li:hover {
    color: #ff4757;
  }
  .categorias h2:hover{
    color: #ff4757;
}

  

  /* Productos */
  .product-card {
    background-color: #2e2e2e;
    border-color: #444;
    color: #f8f9fa;
  }
  .product-card button {
    background-color: #ff0000;
    color: white;
}
  .product-card button:hover {
    background-color: #c21111;
  }
  button:disabled {
    background-color: #8f9294;
  }
  button:disabled:hover {
    background-color: #8f9294;
  }
  .product-card h3{
    color: white;
  }
  
  
 /* Modal */
 .modal-content {
    background-color: #2e2e2e;
    border-color: #444;
    color: #f8f9fa;
  }

  h2{
    color: #fff;
}
footer {
    background-color: #282c34; 
    color: #f8f9fa;
  }

   /* Carro */
   .cart-item {
    border-bottom: 1px solid #ddd;
  }
  .cart-item p {
    color: #fff;
  }
  .quantity-controls button{
    background-color: #3498db;
    color: white;
  }
  .quantity-controls button:disabled {
    background-color: #ccc;
  }
  
  .quantity-controls button:hover:not(:disabled) {
    background-color: #2980b9;
  }
  #totalPrice {
    color: #058f3e;
  }
  /* ERROR 404 */
  #error404{ 
    color: #ff0000;
  }

.backhome {
    color: #ffffff;
    background-color: #ff4c4c;
    border: 2px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px; 
    font-size: 1rem;
}

.backhome:hover {
    color: #fff;
    background-color: #ff4c4c;
    border-color: #ff4c4c;
    transform: scale(1.05);
}
.carousel-button{
  background-color: #ccc;
 
}
.carousel-button:hover{
  color: red;
  transform:translate(5);
}
.product-card1{
  background-color: #3b3e44;
  box-shadow: #058f3e;
}
