body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.dark-theme {
  background-color: #181818;
  color: #f8f9fa;
}

/* Encabezado */
header {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}


header .logo {
  flex-grow: 1; 
  text-align: center; 
  font-size: 1.5rem; 
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
header .logo:hover {
  color: #ff4757;
}
.header-icons {
  display: flex; 
  align-items: center;
}

.carrito {
  position: relative;
  display: flex;
  margin-left: 20px; 
}


.carrito span {
  position: absolute;
  top: -10px;
  right: -15px;
  background-color: #ff4757;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 0.8rem;
}
#cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff0000; 
  color: white; 
  border-radius: 50%;
  padding: 0 6px;
  font-size: 0.8rem;
}

.theme-toggle, .menu-toggle {
  background: none;
  border: none;
  font-size: 1.8rem; 
  color: white;
  cursor: pointer;
  margin-left: 15px;
  transition: transform 0.3s ease;
}

.carrito img {
  width: 30px;
  height: 30px; 
}


.dark-theme .theme-toggle,
.dark-theme .menu-toggle {
  color: #ffcc00;
}
.theme-toggle:hover{
  color: #2980b9;
}

.menu-toggle {
  display: none; 
}

#mobileMenu {
  display: none;
}

main {
  display: flex;
  padding: 4rem;
  max-width: 1400px;
  max-height: max-content;
  margin: auto;
  justify-content: space-between;
  flex: 1;
}

.dark-theme main {
  background-color: #222; 
  padding-bottom: 2rem; 
  margin: 0 auto; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
} 
.categorias{
  max-height: max-content;
  width: 21%;
  background-color: #fff;
  padding: 2rem; 
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  
}

.categorias h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.categorias .flecha {
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.categorias h2 {
  width: 100%; 
}


.categorias:hover{
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.dark-theme .categorias {
  background-color: #2e2e2e;
  
}
.dark-theme .categorias h2{
  color: #fff;
}

.categorias ul {
  list-style: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out; 
}

.categorias ul.desplegado {
  max-height: 500px; 
}

.categorias ul li {
  padding: 0.75rem 0;
  cursor: pointer;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.categorias ul li:hover {
  color: #ff4757;
  padding-left: 10px;
}
.categorias h2:hover{
  color: #ff4757;
  transition: color 0.3s ease;
}
.dark-theme .categorias ul li:hover {
  color: #ff4757;
}
.rotado {
  transform: rotate(180deg);
  transition: transform 0.3s ease; 
}


/* Contenedor principal */
.main-content {
  width: 75%;
  padding-left: 2rem;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#buscador {
  padding: 0.75rem 1rem; 
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid #ced4da;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.search-icon {
  position: absolute;
  right: 0.5px; 
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 1.2rem;
  pointer-events: none; 
}
#buscador:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.dark-theme #buscador {
  border-color: #888;
  background-color: #444;
  color: #f8f9fa;
}



/* Productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: stretch; 
  gap: 1.5rem;
}

.product-card {
  width: 220px;
  min-height: 350px; 
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.dark-theme .product-card {
  background-color: #2e2e2e;
  border-color: #444;
  color: #f8f9fa;
  width: 220px;
}

.product-card img {
  width: 100%; 
  height: 220px; 
  object-fit: cover; 
}


.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #000;
  height: 40px; 
   
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  height: 30px; 
  overflow: hidden;
}


.product-card button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:disabled {
  background-color: #8f9294;
}

.product-card button:hover {
  background-color: #c21111;
  transition: max-height 0.6s ease-out; 
}

.dark-theme .product-card button:hover {
  background-color: #c21111;
}

button:disabled:hover {
  background-color: #8f9294;
}

.dark-theme button:disabled:hover {
  background-color: #8f9294;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.dark-theme .product-card h3{
  color: white;
}
.product-card .quantity-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 1.5rem; 
    align-items: center;
  }

  header {
    flex-direction: column; 
    padding: 1rem; 
  }

  header .logo {
    text-align: center; 
    margin-bottom: 0.5rem; 
  }

  .header-icons {
    justify-content: center; 
    margin-top: 0.5rem; 
  }

  .categorias {
    width: 100%;
    margin-bottom: 2rem;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding-bottom: 1rem;
    position: relative;
  }

  #buscador {
    max-width: 90%; 
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
  }

  .search-icon{
    top: 18px;
    right: 8px;
  }
}


/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
  padding-top:60px ;
}

.modal-content {
  background-color: #fefefe;
  margin:  auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.modal h2{
  text-align: center;
}
.dark-theme .modal-content {
  background-color: #2e2e2e;
  border-color: #444;
  color: #f8f9fa;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cart-items {
  margin-top: 20px;
  max-height: 300px; 
  overflow-y: auto; 
}

.total {
  font-weight: bold;
  margin-top: 20px;
}
aside{
  background-color: #ced4da;
}
.botton{
  opacity: 0;
}
/* Modal general */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

.dark-theme h2 {
  text-align: center;
  color: #fff;
}


.cart-items {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item h4 {
  margin: 0;
  font-size: 1em;
}

.cart-item p {
  margin: 5px 0 0 0;
  color: #666;
}


.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.quantity-controls button:disabled {
  background-color: #ccc;
}

.quantity-controls button:hover:not(:disabled) {
  background-color: #2980b9;
}


.remove-item i{
  font-size: 1.5em;
  color: #e74c3c;
  cursor: pointer;
  transition: color 0.3s;
}

.remove-item i:hover {
  color: #c0392b;
}


.total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.total span {
  color: #058f3e;
}


#scrollTopBtn, .floating-cart {
  display: none; 
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; 
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px; 
  right: 1px;
  background-color: #333; 
  color: white; 
  border: none;
  z-index: 100;
}

#scrollTopBtn:hover {
  background-color: #555; 
  transform: scale(1.1); 
}

.floating-cart {
  position: fixed;
  top: 70px; 
  right: 1px;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}
.floating-cart:hover{
  background-color: #555; 
  transform: scale(1.1); }

.floating-cart img {
  width: 30px; 
  height: 30px; 
}

.cart-count {
  position: absolute; 
  top: -2px; 
  right: -1px; 
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 12px; 
  font-weight: bold; 
  z-index: 100; 
}
footer {
  background-color: #282c34; 
  color: #f8f9fa;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%; 
}
.dark-theme footer {
  background-color: #181818; 
  color: #f8f9fa;
}
footer p {
  margin: 0;
}
section, footer {
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.empty-cart-btn {
  background-color: #ff4c4c; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.empty-cart-btn:hover {
  background-color: #ff0000; 
}
